body {
    min-width: 1020px;
    font: Helvetica, arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #fff;
}
#wrapper {
    width: 800px;
    margin: auto;
    padding: 0 30px 0 30px;
    border: 1px solid #ddd;
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.markdown-body code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.markdown-body pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;  
}

.markdown-body a {
    color: #4183c4;
    text-decoration: none;
}